@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Solveur</PageTitle>

<p>
    <MudText Typo="Typo.body1">
        Bienvenue sur Le Mot: Solveur
    </MudText>
</p>

<p>
    Un utilitaire pour vous aider à résoudre <a href="https://wordle.louan.me/" target="_blank">Le Mot</a>, la version française du jeu Wordle.
</p>

<p>
    <div class="form-floating">
        <MudTextField @bind-Value="ExactCharacters" Class="text-upper" Immediate="true" id="possCharacters" T="string" Counter="5" MaxLength=5 Label="Lettres exactes (Utiliser _, * ou ' '(Espace))" Variant="Variant.Outlined"></MudTextField>
    </div>
    <div class="form-floating">
        <MudTextField @bind-Value="PossibleCharacters" Class="text-upper" Immediate="true" id="possCharacters" Counter="21" MaxLength=21 Label="Lettres potentielles" Variant="Variant.Outlined" />
    </div>
    <div class="form-floating">
        <MudTextField @bind-Value="BadCharacters" Class="text-upper" Immediate="true" id="possCharacters" Counter="21" MaxLength=21 Label="Lettres non-présentes" Variant="Variant.Outlined" />
    </div>
    <MudButton Disabled="@IsSearching" Variant="Variant.Filled" Color="Color.Primary" EndIcon="@Icons.Material.Filled.Search" @onclick="Search">

        @if (IsSearching)
        {
            <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate="true" />
            <MudText Class="ms-2">Recherche en cours...</MudText>
        }
        else
        {
            <MudText Class="ms-2">Rechercher</MudText>
        }
    </MudButton>

</p>

@if (!IsSearching)
{
    <div>@words.WordsList?.Count()&nbsp;mot(s)</div>

    <LetterProbability Letters="@words.LetterProbability" />

    <WordList Words="@words.WordsList" />
}
<style>
    .text-upper input {
        text-transform: uppercase;
    }
</style>